
body{
    margin: 0;
    padding: 0;
}

.header{
      background-image: url(img/mountains-55067.png);
      background-size: 100% 200%;
      height: 35%;
}

.nav{
    float: left;
    width: 100%;
    text-align: center;
    height: 8.5%;
    background-color: #333;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

.logo{
    float: right;
    margin-right:6% ;
    margin-top: .1% ;
}
.logo img{
    height: 50px;
    
}

.nav .item{
    float: left;
    width: 12%;
    text-align: center;
    display: flex;
    align-items: center;
    align-content: center;
    height:100% ;
    font-size: 120%;
    margin-left: 2%;
}

.nav .item:hover{
    background-color: rgba(155,185,28,255) ;
}

.logo:hover{
    background-color: rgba(155,185,28,255);
    
}

.con{
    background-image: url(img/alien.png);
    background-repeat: no-repeat;
    background-size: 38%;
    background-attachment: fixed;
    background-origin: border-box;
    background-position: center; 
}