.Qu{
    margin: 8px 8px 8px 8px;
    border-style: solid;
    border-width: 2px;
    border-color: rgba(16.9,29,43,.7);
    background-color: rgba(16.9,29,43,.15);
}
.Qu2 {
    margin: 8px 8px 8px 10px;
}
.anco{
    border-color: rgba(16.9,29,43,.7);
    background-color: rgba(160.9,29,3,.2);
}
f5{
    font-size:large ;
}
.an{
    margin-bottom:20px;
}
